.pelicula-contenedor {
    margin: 90px 180px;
    display: grid;
    grid-template-columns: 210px auto;
    grid-template-rows: auto auto;
    gap: 20px;
    color: white;
}

.pelicula-figure {
    height: auto;
    width: 200px;
}

.pelicula-imagen {
    height: 100%;
    width: 100%;
    border-radius: 4px;
    object-fit: cover;
}

.pelicula-datos {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.pelicula-titulo {
    font-size: 2rem;
    letter-spacing: 2.5px;
}

.pelicula-aux {
    display: flex;
    gap: 20px;
}

.pelicula-calificacion {
    color: yellow;
    font-weight: bold;
}

.pelicula-descripcion {
    line-height: 25px;
}

.pelicula-genero,
.pelicula-director,
.pelicula-actores {
    color: rgb(146, 146, 146);
}

.pelicula-span {
    font-weight: bold;
    color: white;
}

.pelicula-trailer {
    grid-column: 1/3;
}

.pelicula-video {
    width: 100%;
    height: 850px;
}



@media (min-width: 768px) and (max-width: 1023px) {

    .pelicula-contenedor {
        margin: 90px 90px;
    }

    .pelicula-video {
        width: 100%;
        height: 500px;
    }

}

@media (max-width: 767px) {
    
    .pelicula-contenedor {
        margin: 90px 15px;
        display: flex;
        flex-direction: column;
    }

    .pelicula-figure {
        width: 100%;
        height: 200px;
        align-self: center;
    }

    .pelicula-imagen {
        object-fit: cover;
    }

    .pelicula-datos {
        font-size: .9rem;
    }

    .pelicula-titulo {
        font-size: 1.8rem;
    }

    .pelicula-video {
        width: 100%;
        height: 320px;
    }

}
