.busqueda-input {
    width: 100%;
    padding: 1rem 3rem;
    background-color: rgba(128, 128, 128, 0.267);
    color: white;
    font-size: 3rem;
    border: 0;
    margin-bottom: 40px;
}

.busqueda-titulo {
    margin-inline: 90px;
    color: white;
    font-size: 2.5rem;
}

.busqueda-grid {
    margin-inline: 90px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    transition: .3s all ease;
}


@media (min-width: 768px) and (max-width: 1023px) {

    .busqueda-grid {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (max-width: 767px) {
    
    .busqueda-grid {
        margin-inline: 32px;
        grid-template-columns: repeat(2, 1fr);
    }
    
    .busqueda-input {
        padding: .5rem 1rem;
        font-size: 2rem;
    }

    .busqueda-titulo {
        margin-inline: 32px;
        font-size: 1.8rem;
    }
}


