.lista-contenedor {
    margin-inline: 90px;
}

.lista-titulo {
    color: white;
    font-size: 2.5rem;
}

.lista-seccion {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    transition: .3s all ease;
}

.load {
    color: #5BC0DF; 
    margin-block: 90px;
}

@media (min-width: 768px) and (max-width: 1023px) {

    .lista-seccion {
        grid-template-columns: repeat(3, 1fr);
    }

}

@media (max-width: 767px) {
    
    .lista-seccion {
        grid-template-columns: repeat(2, 1fr);
    }

    .lista-titulo {
        font-size: 1.8rem;
    }

    .lista-contenedor {
        margin-inline: 32px;
    }
    
}
